# Server Settings
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/bloodbank
JWT_SECRET=supersecretjwtkeyforbloodbank2026

# Uploads Configuration
# Set to 'true' to use mock S3 local saving, 'false' or empty to use real S3
USE_MOCK_S3=true

# AWS S3 Settings (Required if USE_MOCK_S3 is false)
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your-bloodbank-s3-bucket
